#mostrar{
    display : block;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#acciones{
    text-align: center;
}

.boton{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.25s;
}

.boton:hover{
    background-color:rgb(250, 73, 73);
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

#labels{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: large;
}

.entradas{
    padding: 10px 50px;
    border-radius: 50px;
    background-color: grey;
    cursor:default;
    font-size: 1.5em;
}

body{
    background-image: url("https://th.bing.com/th/id/R.3ef0278f6e043d40648fb1a12adc86b4?rik=70fIWsvfY58ooA&riu=http%3a%2f%2fwww.documentingreality.com%2fforum%2fattachments%2ff171%2f390664d1346760935-avril-joygasm-avril-lavigne-bikini-007.jpg&ehk=3S%2bgiEE%2bqJHx1Ex2rzC8Yqv7%2bOUseS09CA5Q4S%2fUIu4%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
}